.page-new-question
  .header
    %h1 编辑测试题
    .ops
      = link_to "返回", node_questions_path(:id => @question.knowledge_node_id, :net_id => @question.knowledge_net_id)
  .question-form
    = render "form"
