.page-question-nets
  %h1.title 知识领域列表
  .nav
    = link_to "首页", questions_path, :class => "current"
  .items
    - @nets.each do |net|
      .knowledge-net.item
        .title
          = net.name
          .ops
            = link_to "打开", net_questions_path(:id => net.id)
