.page-question-net
  %h1 #{@net.name} - 知识单元列表
  .ops
    = link_to "返回上一级", questions_path
  - @net.sets.each do |set|
    .knowledge-set
      = link_to set.name, set_questions_path(:id => set.id, :net_id => @net.id)
