.page-image-data-form.new
  .header
    .ops
      = link_to "返回", "/image_datas"
  .form
    = form_tag "/image_datas", :method => :post, :multipart => true do
      .field
        = file_field_tag "file"
      .field
        = submit_tag "上传"
    