.bundle
.sass-cache/*
.project

*.log
*DS_Store
*.bak
.fseventsd

dump.rdb
Gemfile.lock

tmp/
vendor/bundle/*


db/*.sqlite3
log/*.pid
.powenv
.rvmrc
public/system/*
public/uploads/*
public/static_files/*
public/file_part_upload/*
public/files/*
public/test/*
public/download/*
coverage/
.idea/*
*DS_*
db/schema.rb
public/assets/*
*~
*\#*
config/mongoid.yml

.ruby-version
deploy/sh/property.yaml
vender/apps/4ye_updater/external/version_manager/android.yaml
