.page-admin
  .navs
    .nav
      = link_to "题库维护", "/questions"
    .nav
      = link_to "图片维护", "/admin/image_datas"
    .nav
      = link_to "HTTP API DEBUG", "/admin/debug"

  .logout
    = link_to "退出登录", "/account/sign_out"
