.nav {border-radius:3px;background:#A1C9F6;padding:4px 8px;width:640px;margin-bottom:16px;}
.nav a {color:#444;padding:2px 8px;text-decoration:none;margin:2px;}
.nav a.current {background:blue;color:white;border-radius:3px;}
.nav a:hover {background:#ddd;color:#aaa;border-radius:3px;}