h1.title {font-size:24px;padding:0 16px;border-left:1px #000 solid;color:#444;}

.nav {border-left:1px #000 solid;background:#A1C9F6;padding:4px 8px;width:624px;margin-bottom:16px;color:white;}
.nav a {color:#666;padding:2px 8px;text-decoration:none;margin:2px;}
.nav a:hover {background:#ddd;color:#aaa;border-bottom:1px solid #aaa;}
.nav a.current {background:blue;color:white;border-bottom:1px solid #fff;}

.items {width:640px;color:#666;}
.items .item {border-left:1px solid #000;margin-bottom:16px;}
.items .item > * {padding-left:16px;}
.items .item .title {background:#ccc;padding:4px 0 4px 16px;position:relative;}
.items .item .title .ops {position:absolute;right:0;top:5px;}
.items .item .title .ops > a {text-decoration:none;color:white;font-size:12px;padding:8px 12px;background:#888;}
.items .item .title .ops > a:hover {background:#aaa;color:#eee;}
.items .item .desc {background:#eee;padding:8px 16px;}

.form {color:#666;}
.form .control {border-left:1px solid #000;width:640px;margin-bottom:16px;}
.form label {display:block;background:#9CE6BB;margin:0;padding:4px 16px;}
.form input, .form textarea {display:block;margin:0;width:608px;padding:8px 16px;border:0;background:#fafafa;font-size:14px;}
.form input[type=submit] {width:640px;background:#9CE6BB;}